body {
    background-color: dimgray;
}
 

    
body {
    background-color: dimgray;
    border-radius: 30px;
}

form{
    text-align: center;
    font-size: 19px;
    border-radius: 20px;
    max-width: 1200px;
    max-height: 1200px;
    text-shadow: 4px 4px 4px black;
}


h1 {
    text-align: center;
     color: rgb(34, 144, 184);
     text-shadow: 4px 4px 4px black;
}

h2 {
    text-align: center;
    color:  rgb(10, 73, 124);
}

input {
    background-color:#1bb0ce; 
    border-radius: 30px;
}

select {
    background-color: #1bb0ce;
     border-radius: 30px;

}


.botao-enviar input {
    background-color: #1bb0ce;
}